{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="container-fluid">
            {% for item in cart %}
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
                                <div class="img-square-wrapper" style="width: 200px; height: 200px; display: flex">
                                    <img class="mx-auto" style="margin: auto" src="{{ item.product.image.url }}"
                                         alt="{{ item.product }}">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{ item.product }}</h4>
                                    <p class="card-text">{{ item.product.description }}</p>
                                    <p class="card-text">Price: {{ item.product.price }}
                                    </p>
                                    <div style="display: flex">
                                        <p class="card-text">Quantity: {{ item.quantity }}</p>
                                        <form method="post" style="margin-left: 5px">
                                            {% csrf_token %}
                                            <button class="btn btn-light btn-sm border" value="{{ item.product.id }}" type="submit" name="decrease">-
                                            </button>
                                            <button class="btn btn-light btn-sm border" value="{{ item.product.id }}" type="submit" name="increase">+
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex" style="justify-content: space-between">
                                <form method="post" >
                                    {% csrf_token %}
                                <button class="btn btn-light border btn-sm" type="submit" name="delete" value="{{ item.product.id }}" >Delete Item</button>
                                </form>
                                    <div class="card-text">Total: {{ item.get_total_by_product }}</div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div>{{ total }}</div>
        </div>
    </div>
{% endblock %}