{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="wrapper">
                    <!-- Sidebar -->
                    <nav id="sidebar mx-auto mt-4">
                        <div class="sidebar-header">
                            <h3>Bootstrap Sidebar</h3>
                        </div>

                        <ul class="list-unstyled components">
                            <p>Dummy Heading</p>
                            <li class="active">
                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                                   class="dropdown-toggle list-group-item list-group-item-action">Home</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu">
                                    <li>
                                        <a href="#" class="list-group-item list-group-item-action">Home 1</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                                   class="dropdown-toggle list-group-item list-group-item-action">Categories</a>
                                <ul class="collapse list-unstyled" id="pageSubmenu">
                                    {% for item in categories %}
                                        <li>
                                            <a href="?category={{ item.id }}"
                                               class="list-group-item list-group-item-action">{{ item }}</a>
                                        </li>
                                    {% endfor %}
                                    <li>
                                        <a href="?category=all"
                                           class="list-group-item list-group-item-action">All</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="list-group-item list-group-item-action">About</a>
                            </li>
                            <li>
                                <a href="#" class="list-group-item list-group-item-action">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row mx-auto">
                    {% for product in products %}
                        <div class="card mx-auto mb-4" style="width: 18rem; overflow: hidden">
                            <img src="{{ product.image.url }}" class="card-img-top mb-2 mt-2 mx-auto"
                                 style="width: auto; height: 280px" alt={{ product.name }}>
                            <div class="card-body">
                                <h4 class="card-title">{{ product.name }}</h4>
                                <p class="card-text">{{ product.price }} Rs</p>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="text" name="product" hidden value="{{ product.id }}">
                                    <button href="#" type="submit" class="btn btn-light btn-sm border">Add to cart</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}
